
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

body{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    background:rgb(112, 210, 255);
}

nav{
    position: fixed;
    align-self: flex-start;
    height: 100%;
    width: 30%;
    z-index: 1;

    background: #ffffff;
}

.section{
    position: relative;
    background: rgb(193, 232, 255);
    width: 70%;
}